.sidebar {
  width: 60px;
  height: 100vh;
  background-color: #5f4bb6;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.icon-wrapper {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.icon-wrapper:hover {
  color: #a29bfe;
}
